.proyects{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 300px;
    width: 80%;
    margin: 0 auto;
}

.ui-card{
    width: 349px;
    position: relative;
    border: solid #fff;
    height: 262px;
}

.ui-card:hover,
.ui-card:focus{
    box-shadow: 0 1px 10px rgba(255, 255, 255, 0.8);
    transition: 0,1s linear;
}

.ui-card img{
    max-width: 100%;
    height: inherit;
}

.ui-card .text{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
    padding-top: 25px;
}


.ui-card .text h2{
    font-weight: 700;
    font-size: 32px;
    margin: 0 0 20px;
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out;
}

.ui-card .text p{
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease-out;
}

.ui-card .text a img{
    transform: translateY(15px);
    opacity: 0;
    transition: all 0.3s ease-out;
    color: white;
    height: 45px;
    padding: 15px;
}

.ui-card .text a img:hover{
    height: 50px;
    transform: translateY(0px);
}

.ui-card:nth-child(2) .text p{
    padding-bottom: 20px;
}

.ui-card:hover .text{
    background-color: rgba(2, 2, 2, 0.329);
    transform: translateY(0px);
    opacity: 1;
}

.ui-card:hover .text h2{
    transform: translateY(0px);
    opacity: 1;
}

.ui-card:hover .text a img{
    transform: translateY(0px);
    opacity: 1;
}

.ui-card:hover .text p{
    transform: translateY(0px);
    opacity: 1;
}

@media (max-width: 1360px){
    .proyects{
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;

    }
}

@media (max-width: 370px){
    .ui-card .text{
        padding-top: 0px;
    }
}


@media (max-width: 370px){
    .ui-card img{
        height: 100%;
    }

    .ui-card:nth-child(2) .text p{
        padding-bottom: 0px;
    }
    

    .ui-card .text h2{
        font-size: 30px;
        margin: 0;
    }

    .ui-card{
        height: 235px;
        width: 100%;
    }
}


@media (max-width: 295px){
    .ui-card{
        height: 260px;
    }

    
}
