p label {
    color: #fff;
    text-transform: uppercase;
}

.info {
    color: #fff;
    padding-left: 20px;
    padding-top: 30px
}


.contact {
    max-width: 1056px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color: rgba(38, 38, 38, 255);
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-radius: 1px;
    border: solid #fff
}

form input {
    font-size: 20px;
    font-weight: 100;
}

.contact:hover {
    box-shadow: 0 1px 20px rgba(255, 255, 255, .8);
    transition: .2s ease-in-out
}

.contact-form {
    padding: 1em;
    background-color: #383838;
    border-radius: 10px
}

.contact-form form .large {
    grid-column: 1/3
}

.contact-form form p {
    margin: 0;
    padding: 1em
}

.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: 0 0;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #fff
}

.contact-form form input:hover,
.contact-form form textarea:hover {
    background-color: #3a3a3a;
    transition: .2s ease-in-out
}

.contact-form form textarea {
    font-size: 20px
}

.contact-form form button {
    width: 100%;
    padding: .7em;
    border: none;
    background: 0 0;
    outline: 0;
    color: #fff;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    text-transform: uppercase;
    padding: 1em;
    border-radius: 5px;
    font-size: 20px;
    position: relative
}

.contact-form > form button:hover {
    background-color: white;
    color: black;
    font-weight: bold;
    text-shadow: 0px 0px 20px black;
    box-shadow: 0 1px 20px rgba(255, 255, 255, .8);
    transition: .2s ease-in-out
}

.button_loading .button_text {
    visibility: hidden;
    opacity: 0
}

.button_loading::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 5px solid transparent;
    border-top-color: black;
    border-radius: 50px;
    animation: button_loading_spinner 1s ease infinite
}

@keyframes button_loading_spinner {
    from {
        transform: rotate(0turn)
    }
    to {
        transform: rotate(1turn)
    }
}

.info h4,
.info p,
.info ul {
    text-align: left;
    margin: 0 0 1em 0;
    font-size: 19px;
}

.info ul {
    list-style: none;
}

.info h4{
    text-transform: uppercase;
    font-weight: 100;
}

.info ul li {
    padding: .3em
}



@media(max-width:404px) {
    .info ul li {
        white-space: nowrap;
        overflow: scroll
    }
}

@media(max-width:1205px) {
    .contact {
        display: block;
        grid-template-columns: 1fr 1fr;
    }
    #contacto {
        margin-left: -10px;
        margin-right: 10px
    }
    .info h4,
    .info p,
    .info ul {
        text-align: center
    }
    .contact-form form .large label {
        margin-left: -14px;
    }
    .contact-form form textarea {
        margin-left: -13px;
        padding-right: 25px
    }
    .contact-form form .large {
        padding-left: 30px
    }
}