    @media (max-width:500px) {
        .hero .texts h1 {
            font-size: 60px;
        }
        .menuicon {
            transition: transform .4s ease-in-out;
        }
        .contact-form form button {
            width: 102.5%;
        }
    }
    
    @media (max-width:375px) {
        .hero .texts h1 {
            font-size: 50px;
        }
        .menuicon {
            transition: transform .4s ease-in-out;
        }
        .contact-form form button {
            width: 102.5%;
        }
    }
    
    @media (max-width:623px) {
        .hero .texts h1 {
            left: 58%;
        }
        .hero .texts h2 {
            left: 56%;
            top: 61%;
        }
        .menuicon {
            transition: transform .4s ease-in-out;
        }
        .contact-form form button {
            width: 102.5%;
        }
    }
    
    @media (max-width:1024px) {
        body {
            padding-top: 60px
        }
        .contact-form form button {
            width: 102.5%;
        }
        header {
            height: 70px;
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2);
        }
        .logo {
            font-size: 30px;
            padding: 0 40px;
            line-height: 70px
        }
        .nav {
            box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2)
        }
        .nav-menu {
            flex-direction: column;
            align-items: center;
            background-color: rgba(18, 23, 65, 0.986);
            position: fixed;
            bottom: 69px;
            width: 100%;
            padding: 0px 0;
            height: calc(100% - 68px);
            overflow-y: auto;
            bottom: 100%;
            transition: bottom .5s
        }
        .nav-menu-item {
            line-height: 70px
        }
        .nav-link:hover,
        .nav-menu-link_active {
            background: 0 0;
            background-color: #c9b7b665
        }
        .nav-toogle {
            display: block;
            margin-right: 5px;
        }
        .nav-menu_visible {
            bottom: 0
        }
        .nav-toogle:focus:not(:focus-visible) {
            outline: 0
        }
        .menuicon {
            transition: transform .4s ease-in-out;
        }
        .hero {
            top: 1px
        }
        .hero .texts h2 {
            left: 56%;
            top: 65%;
        }
    }
    
    @media (max-width:280px) {
        .hero .texts h1 {
            font-size: 39px;
        }
        .logo {
            font-size: 25px;
        }
        .menuicon {
            transition: transform .4s ease-in-out;
        }
    }
    
    @media (max-width:400px) {
        .hero .texts h1 {
            font-size: 50px;
        }
    }