* {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
}

body {
    background-color: #090b3b;
}


/* Nav */

header {
    background-color: rgb(18, 23, 65);
    height: 70px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .2);
}

nav {
    display: flex;
    justify-content: space-between;
    color: #fff;
    text-decoration: none;
    margin: 0 auto;
    box-shadow: 0 5px 5px 0 rgb(18, 23, 65);
    height: 70px;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
    font-weight: 700
}

.nav-link:hover {
    background-color: rgb(27, 34, 99);
    transition: .5s;
}

.logo {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    padding: 0 40px;
    line-height: 80px;
    margin-left: 10%;
    text-decoration: none;
    width: max-content;
    line-height: 70px;
}

.nav-menu {
    display: flex;
    margin-right: 15%;
    list-style: none
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 19px;
    line-height: 70px;
    text-transform: uppercase;
    width: max-content
}

.nav-toogle {
    color: #fff;
    background: 0 0;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer
}

.Fox-IMG {
    padding-left: 13%;
    width: 80px;
    height: 90px;
    margin: -10px;
}


/* Nav */


/* Contenido */

.titles {
    font-size: 45px;
    padding-bottom: 30px;
    text-align: center;
    padding-top: 40px;
    color: white;
    background-color: #090b3b;
    text-transform: uppercase;
}

#titles {
    font-size: 45px;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 20px;
    color: white;
    background-color: #090b3b;
    text-transform: uppercase;
}

#content {
    padding-top: 0px;
    background-color: #090b3b;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    color: white
}

.content-body {
    position: inherit;
}

.content-body h1 {
    font-size: 45px;
    text-transform: uppercase;
}

.content-body p {
    font-size: 25px;
}


/* Contenido */


/* Tecnologías */

.tecno-body {
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
    background-color: #090b3b;
    text-align: center;
    display: grid;
    gap: 13px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.tecno-body div {
    background-color: #0e1052;
    border: solid white;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.8);
    transition: all 400ms ease;
}

.tecno-body img {
    width: 120px;
    height: 120px;
}

#tecno h1 {
    font-size: 45px;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 20px;
    color: white;
    background-color: #090b3b;
    text-transform: uppercase;
}

.tecno-body .html:hover {
    box-shadow: 5px 5px 20px rgb(241, 101, 41);
}

.tecno-body .css img {
    height: 100px;
    width: 100px;
}

.tecno-body .css:hover {
    box-shadow: 5px 5px 20px #1572b6;
}

.tecno-body .js img {
    height: 100px;
    width: 86px;
}

.tecno-body .js:hover {
    box-shadow: 5px 5px 20px #e4bd00;
}

.tecno-body .ps img {
    height: 120px;
    width: 120px;
}

.tecno-body .ps:hover {
    box-shadow: 5px 5px 20px #04b3dc;
}

.tecno-body .node img {
    height: 120px;
    width: 120px;
}

.tecno-body .node:hover {
    box-shadow: 5px 5px 20px #689f63;
}

.tecno-body .react img {
    height: 100px;
    width: 100px;
}

.tecno-body .react:hover {
    box-shadow: 5px 5px 20px #04d7f7;
}


/* Tecnolo */